@mixin flex($flex:flex, $fd:row, $jc:flex-start, $ai:flex-start) {
  display: $flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: darkgrey;
  color: white;
}

.markdown-c {
  @include flex(flex, column, flex-start, center);

  .markdown-c__textarea {
    background: darkgrey;
    outline: none;
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    height: 50vh;
  }

  .markdown-c__markdown-translator {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    height: 50vh;
    overflow: scroll;
  }
}
